$fuente_principal: "Raleway", serif;

// COLORES
$azul:#325D7E;
$amarillo: #FCD406;
$hueso: #EEE8AA;
$negro: #333;
$blanco: #FFFFF0;

// MQ
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;

$sombraArriba: 0px -4px 6px rgba(0, 0, 0, 0.1);
$sombraAbajo: 0px 4px 6px rgba(0, 0, 0, 0.1);