@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.footer {
    justify-content: center;
    padding: 5rem;

    .footer-contenedor {
        display: none;
    }

    @include m.desktop {
        background-color: v.$blanco;
        .footer-contenedor {
            max-width: 1400px;
            margin: 0 auto;
            display: flex;
            padding: 5rem;
            @include m.grid(3);
        }
    }
}

.footer-info {
    margin: 0 auto;
    .footer-logo {
        width: 30rem;
        margin-bottom: 2.2rem;
    }
}

.informacion {
    a {
        display: flex;
        gap: 2.2rem;
        justify-content: flex-start;
        align-items: center;

        img {
            width: 4rem;
            transition: transform 0.3s ease-in-out;
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

.footer-form,
.m-form {
    margin: 0 auto;
    width: 40rem;

    @include m.desktop {
        width: 100%;
    }
    .form {
        display: inline;
        input,
        textarea {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 1rem;
            width: calc(100% - 1rem);
            margin: 0.5rem 0;
            resize: vertical;
        }

        textarea {
            height: 15rem;
        }
    }

    button {
        margin: 0 auto;
        @include m.boton(v.$negro, v.$blanco, block);
    }
}

.m-form {
    margin-bottom: 5rem;
}

#nombre,
#apellido {
    width: calc(50% - 1rem);
    margin: 0.5rem;
}

#nombre,
#apellido {
    margin-left: 0;
}
