@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.galeria{
    @include m.contenedor;

    &-imagenes{
        padding-left: 0;

        @include m.grid(1, 2rem);

        @include m.telefono{
            @include m.grid(2, 2rem);
        }
        @include m.tablet{
            @include m.grid(3, 2rem);
        }
        @include m.desktop{
            @include m.grid(4, 2rem);
        }


        img{
            height: 100%;
            border-radius: 2rem;
            background-color: #ffffff;
            border: v.$amarillo solid 3px;

            @include m.tablet{
                height: 20rem;
                object-fit: cover;
            }

            &:hover{
                transform: scale(1.05);
                transition: transform 0.5s;
            }
        }
    }

    h2{
        margin: 0 auto;
        width: fit-content;
        font-size: 6rem;
    }
}

.modal{
    position: fixed; //elemento fijo, no se puede mover
    display: grid;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    place-items: center;
    z-index: 4;

    // ANIMATION PARA USAR LOS KEYFRAMES
    animation: fadeIn ease-in 0.5s;

    &.fade-out{
        animation: fadeOut ease-in 0.5s;
    }

    img{
        // height: 100%;
        // width: auto;
        max-height: 80vh;
        max-width: 100rem;
    }
}

// .modal-content{
//     background-color: v.$blanco;
//     padding: 2rem;
//     border-radius: 2rem;
//     position: relative;
//     display: grid;
//     place-items: center;
// }

.categorias{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;

    @include m.desktop{
        flex-direction: row;
    }

    button{
        background-color: v.$amarillo;
        color: v.$negro;
        border: none;
        padding: 1rem 2rem;
        border-radius: 2rem;
        cursor: pointer;
        font-weight: 700;

        &:hover{
            background-color: v.$negro;
            color: v.$amarillo;
        }
    }

    .activo{
        background-color: v.$negro;
        color: v.$amarillo;
    }
}

.btn-cerrar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: v.$blanco;
    border: none;
    color: v.$negro;
    display: grid;
    place-items: center;
    font-weight: 700;
    cursor: pointer;

    &:hover{
        background-color: v.$amarillo;
    }
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.no-hay-imagenes{
    background-color: rgb(116, 36, 36);
    color: white;
    padding: 1rem;
    font-weight: bold;
    width: 50rem;
    margin: 0 auto;
}