@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.hero{
    padding: 5rem;
    margin-bottom: 5rem;
    min-height: 70vh;
    @include m.tablet{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .overlay{
        color: v.$negro;
        margin-bottom: 5rem;
        
        @include m.tablet{
            max-width: 40vw;
            margin-bottom: 0;
        }
    
        h2{
            color: v.$azul;
            text-transform: uppercase;
            font-size: small;
            font-weight: 500;
            margin-bottom: 3rem;
        }
    
        h1{
            font-size: 4rem;
            margin-bottom: 2.8rem;
    
            span{
                color: v.$azul;
            }
        }

        p{
            margin: 0;
            font-size: 1.8rem;
        }
    }
}

.img-logo{
    position: relative;
    // margin: 0 5rem;

    .logo{
        width: 20rem;
        box-shadow: v.$sombraArriba;
        border-radius: 100%;
        z-index: 1;
        margin: 0 auto;

        @include m.tablet{
            box-shadow: v.$sombraAbajo;
        }
    }
}

.img-logo::before{
    content: "";
    position: absolute;
    width: 1500%;
    height: 60%;
    background-color: v.$amarillo;
    z-index: -3;
    left: -3rem;
    bottom: -3rem;

    @include m.tablet{
        bottom: -15rem;
    }
}

.img-ropa::before{
    display: none;
    content: "";
    position: absolute;
    top: -10rem;
    left: 10rem;
    width: 60rem;
    height: 40rem;
    background-image: url(../img/ropa-doblada.webp);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    z-index: -2;

    @include m.tablet{
        display: block;
    }

}