@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

#productos{
    background-color: v.$azul;
    color: v.$blanco;
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
        @include m.boton(v.$blanco, v.$azul, block);

        a{
            &:visited{
                color: v.$azul;
            }
        }
    }
}

.productos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 80vw;

    @include m.tablet{
        flex-direction: row;
        gap: 2rem;
        width: 90vw;
    }

    @include m.desktop{
        gap: 5rem;
        width: auto;
    }

    .producto{
        display: flex;
        padding: 5rem 0;
        transition: transform 0.3s ease;

        @include m.tablet{
            flex-direction: column;
            gap: 2rem;
        }

        img{
            height: 12rem;
            width: 18rem;
            object-fit: cover;
            object-position: center;
            border-radius: 50rem 50rem;

            @include m.tablet{
                width: 25rem;
                height: 16rem;
            }

            @include m.desktop{
                width: 32rem;
                height: 20rem;
            }
        }

        &:hover{
            transform: scale(1.1);
        }
    }
}


.informacion-producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    @include m.tablet{
        align-items: center;
    }
    a{
        color: v.$blanco;
        text-transform: uppercase;
        font-size: 1.8rem;

        &:hover{
            color: v.$amarillo;
            font-weight: 600;
            cursor: pointer;
        }
    }

    h3{
        text-align: left;
        font-weight: 400;
        font-size: 2.2rem;
        margin-bottom: 0;

        @include m.tablet{
            font-size: 2.6rem;
        }
    }
}

.producto-flip{
    width: 20rem;
    height: 12rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50rem 50rem;
    position: relative;

    @include m.tablet{
        width: 25rem;
        height: 16rem;
    }

    @include m.desktop{
        width: 32rem;
        height: 20rem;
    }

    .flip{
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.5s ease;
        
    }

    .producto-front, .producto-back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .producto-back{
        background-color: v.$amarillo;
        color: v.$negro;
        transform: rotateY(180deg);
        border-radius: 50rem 50rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 1.4rem;
        width: 18rem;

        @include m.tablet{
            font-size: 1.6rem;
            width: 25rem;
        }
        
        @include m.desktop{
            font-size: 2rem;
            width: 32rem;
        }

        p{
            margin: 0;
        }
    }
}

.producto{
    &.flipped{

        .flip{
            transform: rotateY(180deg);
            width: 18rem;

            @include m.tablet{
                width: 25rem;
            }

            @include m.desktop{
                width: 32rem;
            }
        }
    }
}